body {
  background: #2B2D31;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

/*LOGO*/
header {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*TITULO*/
.title-tasks {
  max-width: 50%;
  margin: 0 auto;
  margin-top: 4em;
  margin-bottom: 6em;
}
.title-tasks hr {
  border: 0;
  height: 1px;
  background:#3C4043;
}

.title-tasks h1 {
  font-size: 1.4em;
  font-weight: 400;
}

/*SEM-TAREFAS*/
.no-tasks {
  max-width: 25%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5em;
}

.no-tasks h2 {
  font-weight: 500;
  font-size: 1.2em;
}

.no-tasks p {
  font-weight: 300;
  font-size: 0.7em;
}

/*BOTÃO ADICIONAR TAREFA*/

.add-task-btn {
  max-width: 50%;
  margin: 0 auto;
}

.add-task-btn button {
  width: 51em;
  min-height: 5em;

  background: #2B2D31;
  border: 2px dotted #989898; 
  cursor: pointer; 
  color: #989898;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}

.add-task-btn button:hover{
  border-color: #fff;
  color: #fff;
}

/*MODAL*/
.modal {
  background-color: rgba(0, 0, 0, 0.6); 

  width: 100%; 
  height: 100%; 

  position: fixed; 
  top: 0; 
  left: 0;
  z-index: 99; 

  display: none; 

  display: flex; 
  align-items: center; 
  justify-content: end; 


}

.modal .modal-content{
  height: 100%;
  width: 50%;
  background: #2B2D31;

  padding: 3em;
  margin-top: 3em;
}

.modal .modal-content .modal-container{
  max-width: 60%;
  margin: 0 auto;
}

.modal-content .close-modal {
  display: flex;
  align-items: center;
  justify-content: end;
}

.modal-content .close-modal button {
  background: #2B2D31;
  border: none;
}

.modal-content form input {
  background: #35373C;
  border: 0.2px solid #535353;
  width: 100%;
  height: 1.5em;
  border-radius: 8px;
  padding: 1em;

  color: #989898;
}

.modal-content form textarea {
  background: #35373C;
  border: 0.2px solid #535353;
  width: 100%;
  height: 10em;
  border-radius: 8px;
  padding: 1em;

  color: #989898;

  margin-bottom: 6em;
}

.modal-content .modal-buttons {
  display: flex;
  align-items: center;
  justify-content:end;
  gap: 2em;
}

.modal-content button.check {
  background: #1D46CA;
  color: #fff;

  font-size: 0.9em;

  border: none;
  border-radius: 8px;

  width: 164px;
  height: 56px;
}

.modal-content button.check:hover {
  background: #11276E;
  cursor: pointer;
}

.modal-content button.close {
  background: #2B2D31;
  color: #fff;

  font-size: 0.9em;

  border: none;
  border-radius: 8px;

  width: 164px;
  height: 56px;
}
.modal-content button.close:hover {
  background: #444444;
  cursor: pointer;

}















